*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
.profile , .userIcon{
  width: 40px;          /* standard dashboard size */
  height: 40px;
  border-radius: 50%;  /* makes it circular */
  object-fit: cover;   /* prevents stretching */
}
.userIcon{
    width: 70px;          /* standard dashboard size */
    height: 70px;
}
.idName{
    font-weight: bolder;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    grid-column: 2/-1;
    position: relative;
    box-shadow: 0 4px 10px rgb(0, 0, 0,0.15);
}
.headerTop{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    background-color: #4397ea;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-column: 1/2;
    grid-row: 1/-1;
    padding: 0px 10px;
}
.searchbar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.searchbar input{
    background-color: rgb(223, 223, 223);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: 25px;
    width: 500px;
    padding: 2px 14px;
    outline: none;
}
.notify{
    display: flex;
    gap: 40px;
    align-items: center;
}
.sidebar li,.sidebar h1 {
  display: flex;              
  align-items: center;        
  gap: 12px;                  
  padding: 10px 8px;
  cursor: pointer;
}
.headerBottomRight{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerBottomLeft{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mainGreeting{
    font-weight: bolder;
}
.currUserName{
    font-size: x-large;
    font-weight: bolder;
}
.functionButton{
    background-color: #4397ea;
    color: #E5E7EB;
    font-weight: bolder;
    padding: 0px 20px;
    border-radius: 20px;
    border: none;
    min-width: 120px;
    height: 40px;
}
.headerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitle{
    font-weight: bolder;
}
.articleList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.card ,.trendId , .announce{
    background-color: #FFFFFF;
    border-radius: 10px;
}
.content{
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: stretch;
    background-color: rgb(223, 223, 223);
    height: 100%;
    padding: 30px 20px;
}
/* .content{

    
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    
} */
.currId{
    display: flex;
    align-items: center;
    gap: 10px;
}
.divider {
  height: 1px;
  background-color: #ddd;
  width: 100%;
  margin: 16px 0;
}
.cardContent{
    color: rgb(94, 92, 92);
}
.sectionName{
    font-weight: 500;
    font-size: larger;
}
.rightContent{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.rightContentUp , .rightContentDown{
    flex: 1;
}
.article{
    display: flex;
    flex-direction: column;
}
.articleList{
    flex: 1;
}

